<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <div class="drawer">        
        <input type="checkbox" name="navToggle" id="navToggle" class="nav-toggle">
        <label for="navToggle" class="btn-burger">
          <span class="icon"></span>            
        </label>
        <h2 class="title">Portfolio3</h2>
        <nav class="nav">
          <ul class="nav-list">
            <li><%= link_to 'TOP',root_path, class: "a" %></li>
            <li><%= link_to'PRODUCT', homes_index_path, class: "a" %></li>
            <li><%= link_to 'ABOUT', homes_about_path, class: "a" %></li>
            <li><%=link_to 'NEWS', homes_news_path, class: "a" %></li>
          </ul>
        </nav>
      </div>
      
    </header>
    <%= yield %>
  </body>
</html>
